.dashboard {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 80px;
}

.dashboard-container {
  max-width: 500px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.profile-card {
  background: #0077b5;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.profile-card h2, .profile-card p {
  margin: 10px 0;
}

.profile-card ul {
  list-style: none;
  padding: 0;
}

.profile-card li {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}



.change-password-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-password-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.change-password-box button {
  padding: 10px;
  background-color: #0077b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-password-box button:hover {
  background-color: #005f8a;
}



.delete-account-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-account-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.delete-account-box button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-account-box button:hover {
  background-color: rgb(126, 0, 0);
}
