/* Light Mode */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    background-color: #A60F2D;/*#d32f2f; !* Red *!*/
    color: white;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    width: auto;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.custom-navbar + * {
    margin-top: 80px;
}

.custom-navbar .navbar-nav .nav-link {
    color: white !important;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ffeaea !important;
    text-decoration: underline;
}

/* Button styling in light mode */
.custom-navbar .btn-outline-light {
    border-color: white;
    color: white;
}

.custom-navbar .btn-outline-light:hover {
    background-color: white;
    color: #d32f2f;
}

/* Dropdown Toggle in Light Mode */
.custom-navbar .dropdown-toggle {
    background-color: white;
    color: #d32f2f;
}

.custom-navbar .dropdown-toggle:hover {
    background-color: #ffeaea;
    color: #b71c1c;
}

/* Dropdown Menu Light */
.custom-navbar .dropdown-menu {
    background-color: white;
    border: none;
}

.custom-navbar .dropdown-item {
    color: #333;
}

.custom-navbar .dropdown-item:hover {
    background-color: #f0f0f0;
}


/* Dark Mode */
.app.dark .custom-navbar {
    background-color: #8b1a1a; /* Crimson from the logo */
    color: #d3d3d3; /* Gray for text/icons */
}

.app.dark .custom-navbar .navbar-nav .nav-link {
    color: #d3d3d3 !important;
}

.app.dark .custom-navbar .navbar-nav .nav-link:hover {
    color: white !important;
    text-decoration: underline;
}

.app.dark .custom-navbar .btn-outline-light {
    border-color: #d3d3d3;
    color: #d3d3d3;
}

.app.dark .custom-navbar .btn-outline-light:hover {
    background-color: #d3d3d3;
    color: #8b1a1a;
}

.app.dark .custom-navbar .dropdown-toggle {
    background-color: #d3d3d3;
    color: #8b1a1a;
}

.app.dark .custom-navbar .dropdown-toggle:hover {
    background-color: #bbbbbb;
    color: #8b1a1a;
}

.app.dark .dropdown-menu {
    background-color: #4f4f4f;
    border: none;
}

.app.dark .dropdown-item {
    color: #f0f0f0;
}

.app.dark .dropdown-item:hover {
    background-color: #6a6a6a;
    color: white;
}
