/* Clubs Page Layout */
.clubs-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fdfcf7;
}

/* Clubs Container (Main content and sidebar) */
.clubs-container {
  display: flex;
  width: 90%;
  /*max-width: 1200px;*/
  justify-content: space-between;
  margin-top: 20px;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Clubs Content Styles */
.clubs-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clubs-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clubs-list {
  margin-top: 10px;
}

.clubs-list > p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.club-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.club-item {
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;                    /* add padding to separate text from border */
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.05);
  color: #b1b1b1;                       
  opacity: 1;                        
  transition: background-color 0.2s ease;
}

.club-item:hover {
  background-color: #a1a1a1;
}

.club-item h4 {
  position: relative;
  bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
  padding-bottom: .4rem;
  margin-bottom: .2rem;
  border-bottom: 1px solid #ccc;
}

.club-item p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #3a3a3a; /* slightly lighter than title, but still readable */
  font-weight: 400;
  line-height: 1.4;
}