/* General*/
body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-color: lightgoldenrodyellow;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: lightskyblue;
}

.navbar .menu a {
  position: relative;
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

.navbar .menu a:hover {
  color: black;
}

/* Dropdown Menu */
.navbar .menu a {
  position: relative;
}

.navbar .menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
}

.navbar .menu a:hover .dropdown {
  display: none;
}

.navbar .menu a:nth-child(3):hover .dropdown {
  display: block;
}

.navbar .menu .dropdown a {
  display: block;
  margin: 10px 0;
}

/* Basic Layout */
.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 20px auto;
  gap: 10px;
  padding: 0 5%;
}

/* Side Bar */
.side {
  flex: 1 1 60%;
  background: deepskyblue;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Main */
.main {
  width: 60%;
  background: deepskyblue;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}
