* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    /*background-color: ghostwhite;*/
}

.content-left, .content-right {
    text-align: center;
    flex: 1;
    /*background: lightgray;*/
    height: 90vh;
    border-radius: 10px;
}

.content-right {
    margin-right: 50px;
}
.content-left {
    margin-left: 50px;
}

.content-middle {
    text-align: center;
    flex: 3;
    /*background: lightgray;*/
    height: 90vh;
    border-radius: 10px;
}